*.exe
unvs/cmd/api/unvs
unvs/cmd/api/unvs/*
unvs/cmd/api/unvs/*
bfg-1.15.0.jar
logs/*
node_modules/*
*.sst
*.vlog
DISCARD
KEYREGISTRY
.mem
vexample/cache.db
chess/config.yaml
vapi/internal/service/tmp/badger
vapi/internal/cache/tmp/badger
**/tmp/badger/
/data
/packages/vapiv2/example/example1/uploads
/packages/vpai_cmp/uploads
/packages/vapiv2/example/pure/uploads
/packages/wx/example/example1/uploads
/packages/wx/example/example1/uploads
.mp4
**/uploads/
/config.yaml